# Exploring IEA Annual Electricity Generation by State Report
***

In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format # display numbers as with thousands separator
pd.option_context('display.max_rows', None, 'display.max_columns', None)

from IPython.display import display, HTML
# Custom CSS to align DataFrame values to the right
css_rules = """
<style>
    table.dataframe th, table.dataframe td {
        text-align: right !important;
    }
</style>
"""
# Apply the custom CSS
display(HTML(css_rules))

# Save tables to a workbook
import openpyxl
wb = openpyxl.Workbook()
wb.save("Data/EIA/tables.xlsx")

In [2]:
egen_df = pd.read_csv('Data/EIA/annual_generation_clean.csv')

## Look at characteristics of the data
<a class="anchor" id="look-at-characteristics-of-the-data"></a>
***
1. Time period of dataset
3. Unique values for producer type and energy source

In [3]:
# Find the time range of the data
years = egen_df['year'].unique()
years.sort()
print(f'Data ranges from {years[0]} to {years[-1]}')

# Find the amount of electricity produced each year
yearly_totals = egen_df.groupby('year')['genMWH'].sum().to_frame().rename(columns={"year": "Year", "genMWH": "MWh Generated"})
with pd.ExcelWriter("Data/EIA/tables.xlsx", mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
    yearly_totals.to_excel(writer, sheet_name='yearly_total', index=False)

# Find the amount of electricity produced each year locality
yearly_totals_locality = egen_df.groupby(['year', 'state'])['genMWH'].sum().to_frame().rename(columns={"year": "Year", "genMWH": "MWh Generated", 'state': 'State'})
with pd.ExcelWriter("Data/EIA/tables.xlsx", mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
    yearly_totals_locality.to_excel(writer, sheet_name='yearXstate', index=False)

# Find the amount of electricity produced each year by fuel type
yearly_totals_source = egen_df.groupby(['year', 'energySource'])['genMWH'].sum().to_frame().rename(columns={"year": "Year", "genMWH": "MWh Generated", 'energySource': 'Energy Source'})
with pd.ExcelWriter("Data/EIA/tables.xlsx", mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
    yearly_totals_source.to_excel(writer, sheet_name='yearXsource', index=False)

# # Find the amount of electricity produced each year by fuel type and locality
yearly_totals_fuel_locality = egen_df.groupby(['year', 'energySource', 'state'])['genMWH'].sum().to_frame().rename(columns={"year": "Year", "genMWH": "MWh Generated", 'energySource': 'Energy Source', 'state': 'State'})
with pd.ExcelWriter("Data/EIA/tables.xlsx", mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
    yearly_totals_fuel_locality.to_excel(writer, sheet_name='yearXsourceXstate', index=False)

yearly_totals_locality

Data ranges from 1990 to 2022

            MWh Generated
year state
1990 ak     11,199,012.00
     al    159,304,266.00
     ar     78,199,196.00
     az    125,548,594.00
     ca    331,569,818.00
...                   ...
2022 vt      4,367,658.00
     wa    233,380,998.00
     wi    122,488,620.00
     wv    113,330,721.00
     wy     92,694,985.00

[1716 rows x 1 columns]

In [4]:
# Unique values for producers
producers = egen_df['producerType'].unique()
print (*producers, sep=", ")

total, utilities, industrial_chp, commercial_chp, independent, electric_chp